@charset "UTF-8";

body {
    font-family: "Noto Sans JP", system-ui;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    background: #736b6b;
    /* background-image: url(images/bg.png);
    background-image: url(/Users/mikirupan/camp/image/ramenPAR574482518_TP_V.jpg); */
}

a:link,
a:visited {
    color: unset;
    text-decoration: none;
}

a,
h1,
h2 {
    color: #377BA8;
    margin: 0 auto; /* 中央寄せ */
}

h1,
h2 {
    margin: 0;
    font-weight: bold; /* 太字に設定 */
    color: black; /* テキストの色を黒に設定 */
    margin: 0 auto; /* 中央寄せ */

}

h1 {
    border-bottom: 2px solid #eee;
}

h2 {
    font-size: 1.2em;
    margin: 0 auto;
}

.page {
    margin: 2em auto;
    width: 35em;
    border: 5px solid #ccc;
    padding: 0.8em;
    background: #ffd900;
    
}

.page form {
    padding-inline-start: 4px;
    padding-inline-end: 40px;
    margin-bottom: 4px;
}

.page form * :not(button) {
    width: 100%;
}

.page ul {
    list-style-type: none;
}

.page li {
    clear: both;
}

.metanav {
    text-align: right;
    font-size: 0.8em;
    margin-bottom: 1em;
}

.flash {
    background: #CEE5F5;
    padding: 0.5em;
    border: 1px solid #AACBE2;
}

.avatar {
    display: block;
    float: left;
    margin: 10px 10px 10px 0;
}

.message-content {
    min-height: 80px;
    word-break: keep-all;
    overflow-wrap: break-word;
}

.message {
    display: flex;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    margin-left: auto;
}



.eat {
    border-style: outset;
    float: right;
}

.eat1 {
    border-style: outset;
    float: left;
    display: block;
    background-color: #4CAF50;
}

.weather-item {
            margin-bottom: 1em;
        }

.weather-date {
            font-weight: bold;
        }

.weather-description {
            margin-left: 1em;
        }

.back-button {
    position: fixed;  /* 画面の特定の位置に固定 */
    bottom: 20px;     /* 画面下から20pxの位置 */
    right: 20px;      /* 画面右から20pxの位置 */
    background-color: #4CAF50;  /* ボタンの背景色 */
    color: white;     /* テキストの色 */
    padding: 10px 20px; /* パディングの設定 */
    border: none;     /* ボーダーなし */
    border-radius: 5px;  /* 角を丸める */
    cursor: pointer;  /* ポインタを変更 */
    font-size: 16px;  /* テキストのサイズ */
}

.container {
    display: flex;
}

.item {
    background: rgb(144, 197, 29);
    color: rgb(3, 55, 10);
    margin: 10px;
    padding: 10px;

}
