<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MessageBOX</title>
    <link rel=stylesheet href="{{ url_for('static', filename='style.css') }}">
</head>
<header>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
</header>
<body>
    <div class="page">
        <h1><a href="{{ url_for('index') }}">混雑状況アプリ(仮)</a></h1>
        <div class="metanav">
            {% if not current_user.is_authenticated %}
                <button><a href="{{ url_for('login') }}">ログイン</a></button>
                <button><a href="{{ url_for('register') }}">新規登録</a></button>
            {% else %}
                <div class="eat">
                    <button><a href="{{ url_for('unregister') }}" onclick="if(!confirm('本当に削除していいですか？')) return false">退会</a></button>
                </div>
                <div class="eat">
                    <button><a href="{{ url_for('logout') }}">ログアウト</a></button>
                </div>
            {% endif %}
            {% if current_user.is_authenticated %}
                <div class="eat1">
                    <button><a href="{{ url_for('select') }}" onclick="document.getElementById('eat1').style.display='none'; return false;" class="eat1">食べる</a></button>
                </div>
            {% endif %}
        </div>
        

        {% block content %}{% endblock %}
    </div>
</body>
</html>