{% extends "base.html" %}
{% block content %}
<button onclick="history.back()" class="back-button">戻る</button>
<h1>二郎サーチ</h1>
    <form action="{{ url_for('select') }}" method="post">
        <h2><label for="prefecture">行きたい店舗: </label></h2>
        <select name="prefecture" id="prefecture">
            {% for prefecture in prefectures %}
            <option value="{{ prefecture.name }}">{{ prefecture.name }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="表示">
    </form>

    {% if weather_data %}
    <div class="container">
            <h2>{{ request.form["prefecture"] }}の天気情報</h2>
        <div class="item">
            <p>天気: {{ weather_data.weather }}</p>
        </div>
        <div class="item">
            <p>都市名: {{ weather_data.city }}</p>
        </div>
        <div class="item">
            <p>気温: {{ weather_data.temp }} °C</p>
        </div>
    </div>
    {% endif %}
    <br>
    {% if  distance %}
        {% if  address %}
            <h2>ここから{{ address }}の直線距離</h2>
        {% endif %}
        <p>約{{ distance }}km</p>
    {% endif %}
{% endblock %}